{
  "parser": "@babel/eslint-parser",
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "quote-props": "off",
    "space-before-function-paren": ["error", "never"],
    "indent": ["error", 2],
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ]
  }
}
